@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-regular-webfont.eot');
  src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans-regular-webfont.woff') format('woff'),
       url('fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/opensans-light-webfont.eot');
  src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans-light-webfont.woff') format('woff'),
       url('fonts/opensans-light-webfont.ttf') format('truetype'),
       url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Basic Styling */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: 'Open Sans Light', Helvetica, Arial ,sans-serif;
}

h1,
h2,
h3,
strong,
.price {
  font-family: 'Open Sans', Helvetica, Arial ,sans-serif;
  font-weight: normal;
}

a {
  color: #428bca;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

header {
  background-color: #334966;
  color: #fff;
  padding: 15px 0;
}

header h2,
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
}

.wrapper {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 50px;
}

#content,
#sidebar {
  flex: 1 auto;
}

#sidebar {
  min-width: 200px;
  padding: 0 0 0 25px;
}

[data-card] {
  border-bottom: 1px solid #eee;
}

[data-card]:last-child {
  border: none;
}

[data-card] h3 {
  color: #555;
}

div:not([data-card]) > h3 {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
  }

  #sidebar {
    padding: 0;
  }
}
